.errors {
    color: red;
    font-style: italic;
    font-weight: bold;
}

.search {
    width: 30%;
}

.btn-search {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    position: relative;
    border: 2px solid black;
    line-height: 1.8;
    font-size: 14px;
    margin: auto;
    border-radius: 5px;
    align-self: center;
    border-style: solid;
    width: 35%;
    cursor: pointer;
}